# env files
*.env

# build outputs
example
provider/pulumi-nanovms

# test artifacts
*.tar.gz
*.zip
*.nupkg
*.tgz
dist/
build/

# SDK build artifacts
sdk/*/node_modules/
sdk/python/dist/
sdk/python/build/
sdk/python/*.egg-info/
sdk/dotnet/bin/
sdk/dotnet/obj/

# pulumi environment files in the examples
examples/*/Pulumi.*.yaml
